.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 251, 251);
}

.addTask {
  height: 20vh;
  background-color: rgb(45, 75, 104);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task button {
  width: auto;
  height: 20px;
  margin-left: 5px;
  text-align: center;
}

.deletebtn{
  background-color: rgb(232, 144, 144);
  border-color: rgb(143, 45, 45);

}

.updatebtn{
  background-color: rgb(243, 245, 179);
  border-color: rgb(124, 112, 19);

}

.submitbtn{
  background-color: rgb(168, 221, 174);
  border-color: rgb(46, 103, 52);
 
}